<header class="navbar-wrapper">

    <div class="navbar-container">

        <!-- Logo -->
        <a href="/index.html" class="logo-text">
            PTE HUB
        </a>

        <!-- Navigation -->
        <ul id="navbar">
            <li><a href="/index.html">PTE Test</a></li>
            <li><a href="#">About PTE</a></li>
            <li><a href="#">Destinations</a></li>
            <li><a href="#">Partners & Research</a></li>
        </ul>

        <!-- Right Actions -->
        <div class="nav-actions">

            <button class="login-btn">Login</button>

            <button class="register-btn">
                Register
            </button>

            <div id="hamburger" class="hamburger">
                <i class="fas fa-bars"></i>
            </div>

        </div>

    </div>

</header>